.edit-cover {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px 12px;
  .size {
    h4 {
      margin-top: 0;
    }
    .size-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      padding: 4px;
      margin: 0 -4px;
      overflow-x: hidden;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #172b4d;
      background: #0000;
      .size-card {
        height: 62px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        cursor: pointer;
        background: #fff;
        border-radius: 3px;
        position: relative;
        width: 134px;
        border: 1px solid #091e4214;
        filter: unset;
        &:hover {
          filter: saturate(85%) brightness(85%);
        }
      }
      .header {
        background: #5e6c84;
        opacity: 0.3;
        background-size: cover;
        height: 28px;
        border-radius: 3px 3px 0 0;
      }
      .size-body {
        padding: 6px 4px 4px 6px;
        position: relative;

        .size-1 {
          background-color: #6b778c;
          height: 4px;
          border-radius: 2px;
          width: 122px;
        }
        .size-2 {
          background-color: #6b778c;
          height: 4px;
          border-radius: 2px;
          width: 98px;
          margin-top: 4px;
        }
        .size-3 {
          display: flex;
          margin-top: 6px;
          .size-3-1 {
            width: 16px;
            height: 6px;
            background-color: #6b778c;
            border-radius: 2px;
            margin-right: 2px;
          }
        }
        .size-4 {
          position: absolute;
          width: 10px;
          height: 10px;
          right: 4px;
          bottom: 4px;
          background-color: #6b778c;
          border-radius: 5px;
        }
      }

      .style {
        border-radius: 2px;
        width: 98%;
        .full {
          background-color: #5e6c84;
          position: relative;
          opacity: 0.3;
          .size-body {
            position: absolute;
            bottom: 4px;
            padding: 6px 4px 4px 6px;
            height: 20px;
            width: 130px;
            .size-1 {
              background-color: #fff;
              opacity: 1;
              width: 116px;
              height: 4px;
              border-radius: 2px;
              display: block;
            }
            .size-2 {
              display: block;
              background-color: #fff;
              opacity: 1;
              width: 92px;
              margin-top: 4px;
              height: 4px;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
  .removeCaver {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0 0;
    width: 100%;
    line-height: 20px;
    padding: 6px 12px;
    background-color: $clr10;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    color: #172b4d;
    font-size: 14px;
    &:hover {
      background-color: #091e4214;
    }
  }

  h4 {
    color: $clr6;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 4px;
    margin-top: 16px;
    margin-bottom: 4px;
  }
  .btn-container {
    display: flex;
    .btn {
      justify-content: center;
      width: 100%;
      padding: 6px 12px;
      line-height: 20px;
      background-color: $clr10;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
      color: $clr7;
    }
    .btn:hover {
      background-color: $clr8;
    }
  }
  .colors {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 8px;
      padding: 4px;
      margin: 0 -4px;
      li {
        .color-btn {
          background-position: center;
          width: 50px;
          height: 32px;
          cursor: pointer;
          background-size: cover;
          margin: 0;
          border-radius: 3px;
        }
        .color-btn:hover {
          filter: saturate(85%) brightness(85%);
        }
      }
    }
  }
  .attachment {
    ul {
      display: grid;
      gap: 8px;
      padding: 4px;
      margin: 0 -4px;
      grid-template-columns: 1fr 1fr 1fr;
      li {
        background-color: #413b39;
        margin: 0;
        border-radius: 3px;
        height: 48px;
        width: 88px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        cursor: pointer;
        &:hover {
          filter: saturate(85%) brightness(85%);
        }
      }
    }
  }

  .unsplash {
    ul {
      display: grid;
      gap: 8px;
      padding: 4px;
      margin: 0 -4px;
      grid-template-columns: 1fr 1fr 1fr;
      .unsplash-card-img {
        position: relative;
        border-radius: 3px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 48px;
        width: 88px;
        padding: 6px 12px;
        cursor: pointer;
      }
      .unsplash-card-img:hover {
        filter: saturate(85%) brightness(85%);
      }
    }
  }
}
