@font-face {
	font-family: Montserrat;
	src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Opensans;
	src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: GreatVibes;
	src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
}
