
@font-face {
	font-family: iconSolid;
	src: url(~@/assets/fonts/icons/fa-solid-900.ttf);
}
@font-face {
	font-family: iconRegular;
	src: url(~@/assets/fonts/icons/fa-regular-400.ttf);
}
@font-face {
	font-family: iconRegular;
	src: url(~@/assets/fonts/icons/fa-regular-400.ttf);
}
@font-face {
	font-family: iconTrello;
	src: url(~@/assets/fonts/icons/icomoon.ttf);
}
// @font-face {
// 	font-family: NotoSerifBold;
// 	src: url(~@/assets/fonts/Noto_Sans/NotoSerif-Bold.ttf);
// }
// @font-face {
// 	font-family: NotoSerifBoldItalic;
// 	src: url(~@/assets/fonts/Noto_Sans/NotoSerif-BoldItalic.ttf);
// }
// @font-face {
// 	font-family: NotoSerifItalic;
// 	src: url(~@/assets/fonts/Noto_Sans/NotoSerif-Italic.ttf);
// }
// @font-face {
// 	font-family: NotoSerifRegular;
// 	src: url(~@/assets/fonts/Noto_Sans/NotoSerif-Regular.ttf);
// }

