// COLOR PALETTE
$clr1: #ce2e6c;
$clr3: #ffb5b5;
$clr2: #504658;
$clr4: #f0decb;
$clr5: #fff;
$clr6: #5e6c84;
$clr7: #172b4d;
$clr8: #091e4214;
$clr9: #42526e;
$clr10: #091e420a;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// COLOR PALETTE
// $clr1: #fff;
// $clr2: #172b4d;
// $clr3: hsla(0, 0%, 100%, 0.5);
// $clr4: hsla(0, 0%, 100%, 0.3);
// $clr5: rgba(0, 0, 0, 0.32);
// $clr6: rgba(0, 0, 0, 0.2);
// $clr7: rgba(9, 30, 66, 0.04);
// $clr8: #f4f5f7;
// $clr9: #5e6c84;
// $clr10: #dfe1e6;
// $clr11: #172b4d;
// $clr12: rgba(0, 0, 0, .64);
// $clr13: #d0d2d4;
// $clr14: #e7e9eb;
// LAYOUT BREAKPOINTS
// $break-narrow-s: 500px;
// $break-narrow: 620px;
// $break-narrow-l: 700px;
// $break-normal: 800px;
// $break-wide: 1000px;
