.activity-log {
  position: relative;
  margin-bottom: 224px;
  .svg {
    top: 7px !important;
  }
  header {
    display: flex;
    min-height: 32px;
    align-items: center;
    justify-content: space-between;

    .show-btn {
      margin: 0 0 0 8px;
      padding: 6px 12px;
      line-height: 20px;
      border: none;
      border-radius: 3px;
      background-color: #091e420a;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
      color: #172b4d;
      &:hover {
        background-color: #091e4214;
      }
    }
  }

  .activity-container {
    margin-top: 20px;
    position: relative;
    form {
      margin-left: 7px;
      .avatar {
        position: absolute;
        top: 0;
        left: -38px;
      }

      .comment-edit {
        width: 470px;
        overflow: hidden;
        cursor: pointer;
        overflow-wrap: break-word;
        padding: 8px 12px;
        border: 0;
        box-shadow: none;
        background-color: #fff;
        box-sizing: initial;
        height: 20px;
        min-height: 20px;
        resize: none;
        margin-top: -2px;
        margin-bottom: 20px;
        border-radius: 3px;
        line-height: 20px;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow, padding-bottom;
        transition-timing-function: ease;
      }
      .edit {
        padding-bottom: 56px;
      }
      .edit-btn {
        .save-btn {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          top: 45px;
          opacity: 1;
          transform: translateY(0);
          bottom: 8px;
          border-radius: 3px;
          left: 12px;
          height: 32px;
          width: 57px;
          transition-duration: 85ms;
          transition-property: opacity, transform;
          transition-timing-function: ease;
        }
        .save {
          background-color: #0079bf;
          border: none;
          box-shadow: none;
          color: #fff;

          &:hover {
            background-color: #026aa7;
          }
        }
      }
    }
  }
  .commit-list {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      margin-top: 10px;
      form {
        position: relative;
        margin-top: 11px;
        input {
          width: 96%;
          overflow: hidden;
          overflow-wrap: break-word;
          padding: 8px 12px;
          border: 0;
          box-shadow: none;
          background-color: #fff;
          box-sizing: initial;
          height: 20px;
          min-height: 20px;
          resize: none;
          margin-top: 3px;
          margin-bottom: 20px;
          border-radius: 3px;
          line-height: 20px;
          transition-duration: 85ms;
          transition-property: background-color, border-color, box-shadow;
          transition-timing-function: ease;
          &:focus {
            border: 0;
            box-shadow: none;
          }
        }
        .edit {
          padding-bottom: 56px;
        }
        .edit-btn {
          .save-btn {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            top: 71px;
            opacity: 1;
            transform: translateY(0);
            bottom: 8px;
            border-radius: 3px;
            left: 12px;
            height: 32px;
            width: 57px;
            transition-duration: 85ms;
            transition-property: opacity, transform;
            transition-timing-function: ease;
          }
          .save {
            background-color: #0079bf;
            border: none;
            box-shadow: none;
            color: #fff;

            &:hover {
              background-color: #026aa7;
            }
          }
          .back-btn {
            color: #42526e;
            height: 32px;
            line-height: 32px;
            width: 32px;
            font-size: 24px;
            cursor: pointer;
            position: absolute;
            top: 71px;
            left: 82px;
            background-color: #fff;
          }
        }
        .cmm-btn {
          color: #5e6c84;
          background-color: initial;
          cursor: pointer;
          font-size: 12px;
          line-height: 24px;
          background-color: #f4f5f700;
          a {
            text-decoration: underline;
          }
          a:hover {
            color: #172b4d;
          }
          & > * {
            margin-left: 5px;
          }
        }
        .span {
          text-decoration: none;
        }
      }
      .user-avatar {
        .avatar {
          position: absolute;
          top: 12px;
          left: -37px;
        }
      }
      strong {
        font-weight: 700;
        cursor: pointer;
        line-height: 20px;
        font-size: 14px;
        color: #172b4d;
      }
    }
  }
}

@media (max-width: 650px) {
  .activity-log {
    header {
      width: 85vw;
    }
    .activity-container form {
      .comment-edit {
        width: 74vw;
      }
    }
    .commit-list {
      li {
        form {
          input {
            width: 76vw;
          }
        }
      }
    }
  }
}
