.app-header {
    color: white;
    background-color: rgba(0, 0, 0, 0.32);
    // max-height: 50px;
    // border: 1px solid black;
    width: 100%;
    height: 5vh;
    padding-top: 4px;
    padding-bottom: 4px;
    nav {
        display: flex;
        justify-content: space-between;
        .nav-list {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 10px;
            .el-icon-s-grid,
            .logo {
                font-size: 20px;
            }
            ul {
                gap: 15px;
                display: flex;
            }
        }
        .search {
            margin-block-end: 1em;
            display: flex;
            align-items: center;
            gap: 10px;
            // width: 450px;
            // justify-content: space-between;
            // min-width:470px;
            i {
                font-size: 20px;
            }
            input {
                width: 250px;
            }
            .member {
                width: 45px;
            }
        }
    }
.modal{
    right: 0;
}
    // background-image: url() ;
}

.modal {
    .avatar-user {
        display: flex;
        flex-direction: row;
    }
    .user-details {
        cursor: pointer;
        display: block;
        font-weight: 400;
        margin: 0 -12px;
        padding: 6px 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-inline-start: 10px;
    }
}
