.app-header {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 6vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    nav {
        display: flex;
        justify-content: space-between;
        .nav-list {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            .el-icon-s-grid,
          
            .logo , .grid{
                border-radius: 3px;
                padding: 8px;
                font-size: 20px;
            }
            ul {
                // margin-inline-end: 10px;
                gap: 10px;
                display: flex;
            }
            li{
                border-radius: 3px;
                // padding: 6px 10px 6px 12px;
                padding: 10px;
            }
            li:hover{
                background-color: #ffffff91;
            }
            .logo:hover , .grid:hover{
                background-color: #ffffff91;
            }
        }
        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 ;
            gap: 4px;
            i {
                font-size: 20px;
            }
            input {
                // width: 250px;
                height: 32px;
            }
            span{
                font-size: 20px;
                // heiht: 20px;
            }
            .icon-header {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 32px;
                // height: 100%;
            }
            .icon-header.hover:hover {
                width: 50px;
                height: 32px;
                border-radius: 3px;
                background-color: lightgrey;
            }
        }
    }
    .modal {
        right: 0;
    }
}

.modal {
    .avatar-user {
        display: flex;
        flex-direction: row;
    }
    .user-details {
        cursor: pointer;
        display: block;
        font-weight: 400;
        margin: 0 -12px;
        padding: 6px 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-inline-start: 10px;
    }
}
