.card-edit {
    margin: rem(20px);
    min-height: 100%;
    margin-top: rem(50px);
    margin-left: rem(70px);
    h4 {
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: rem(10px);
    }
    .btn {
        width: rem(160px);
        text-align: left;
    }
}
