.card-edit {
    min-height: 100%;

    h3 {
        font-weight: normal;
        font-weight: 600;
        line-height: 20px;
        color: $clr6;
        font-size: 12px;
        margin-bottom: rem(8px);
    }
    .icon {
        font-size: rem(15px);
    }
    .svg {
        // background-color: lightcoral;
        display: block;

        line-height: 24px;
        font-size: rem(24px);
    }
    .icon {
        display: block;
        line-height: 32px;
        font-size: 16px;
        margin: 0 6px 0 -6px;
    }

    .btn {
        // outline: none;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: rem(3px);
        height: rem(32px);
        margin-bottom: rem(8px);
        color: $clr2;
        transition: 0.3s;
        background-color: #091e420a;
        // display:block;
        padding: 6px 12px;
        max-width: 300px;
        box-shadow: none;
        &:hover {
            background-color: $clr8;
            border: none;
            box-shadow: none;
        }
    }
    .edit-btn,
    .join-member {
        display: flex;
        flex-direction: column;
    }
    .dynamic-cmp {
        position: absolute;
        z-index: 50;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
        top: 0;
        left: 0;
        width: 305px;
        header {
            height: 40px;
            margin-bottom: 8px;
            position: relative;
            text-align: center;
            h2 {
                border-bottom: 1px solid #091e4221;
                box-sizing: border-box;
                color: $clr6;
                display: block;
                line-height: 40px;
                margin: 0 12px;
                overflow: hidden;
                padding: 0 32px;
                position: relative;
                text-overflow: ellipsis;
                font-size: rem(14px);
                font-weight: 400;
            }
            a {
                color: #6b778c;
                padding: 10px 12px 10px 8px;
                position: absolute;
                right: 0;
                top: 10%;
            }
        }
    }
}
