.edit-member {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px;
    .search {
        margin: 4px px 0 12px;
        width: 100%;
        background-color: #fafbfc;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        line-height: 20px;
        padding: 8px 12px;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
        color: $clr7;
    }
    .search:hover {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }
    h3 {
        margin-top: 16px;
        font-size: rem(12px);
        font-weight: 600;
        line-height: 16px;
        color: $clr6;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: flex;
            padding-right: 28px;
        }
    }
}
