.groups{
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
    
    border-radius: 3px;
    max-width: 100%;
    position: relative;
    white-space: normal;
    display: flex;
    flex-direction: row;

    input{
        box-shadow: 0 1px 0 #091e4240;
        padding: 6px 8px 2px;
        position: relative;
        z-index: 10;
        max-width: 300px;
        min-height: 20px;
    }
}
