.group-container{

.group {
    
    background-color: #ebecf0;
    margin: 0 4px;
    padding: 0 8px;
    width: 272px;
    border-radius: 3px;

    
    // background-color: aqua;
    input {
        margin-bottom: 5px;
        position: relative;
        width: 256px;
        min-height: 20px;
    }
    .el-input__inner.edit-title{ 
        width: 230px; 
        font-size: 16px;
    }
    .opacity input {
        
        color: rgb(32, 32, 32);
        box-shadow: none;
        border: none;
        background-color: #ffffff91; // background-color: #ebecf0;
    }
    .btn-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
        textarea {
            resize: none;
            border: none;
            box-shadow: 0 1px 0 #091e4240;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            margin-bottom: 4px;
            background-color: white;
        }
        .btn-add {
            margin-bottom: 6px;
            display: flex;
            justify-content: space-between;
            p {
                margin-inline-start: 5px;
                color: gray;
            }
            .left {
                // margin-left: 3px;
                margin-bottom: 6px;
                position: relative;
                top: 6px;
                align-items: center;
            }
            p.more{
                padding-right: 3px;
                padding-top: 10px;
                font-size: 20px;
            }
        }
    }
    header {
        align-items: center;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 2px;
        padding-right: 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            font-size: 15px;
        }
        i {
            font-size: 16px;
        }
    }
}
.add-list {
    width: 272px;
}
}
.modal {
    color: rgb(58, 58, 58);
    box-shadow: 0 1px 0 #091e4240;
    position: fixed;
    background-color: white;
    padding: 0 12px 12px;
    min-width: 304px;
    // min-height: 829px;
    z-index: 20;
    overflow-x: hidden;
    overflow-y: auto;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        li {
            cursor: pointer;
            display: block;
            font-weight: 400;
            margin: 0 -12px;
            padding: 6px 12px;
            position: relative;
        }
    }
    .title {
        margin-top: 10px;
        margin-inline-start: 35%;
        :nth-child(1) {
            float: right;
            // font-size: 16px;
        }
    }
}
