.groups {
  display: flex;
  height: 87vh;
  // display: inline-block;
  // height: 100%;
  margin: 0 4px;
  // margin-inline-start: 35px;
  vertical-align: top;
  white-space: nowrap;

  border-radius: 3px;
  max-width: 98%;
  position: absolute;
  white-space: normal;
  overflow-y: hidden;
  // display: flex;
  flex-direction: row;
  overflow-x: auto;
  @media (max-width: 850px) {
    // padding: 18px;
    padding-top: 39px;
    max-width: 89%;
    // gap: 10px;


}
  &::-webkit-scrollbar {
    // width:  80%; left:-100px;
    // margin-left: 100px;
    width: 80%;
    background: #e2e4e9;
    border-radius: 10px;
    
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // background: rgba(0, 0, 0, 0.32);
    background: #c6cbd4;
  }

  button {
    // height: 32px;
    border: none;
    background-color: #0079bf;
  }
  input {
    box-shadow: 0 1px 0 #091e4240;
    position: relative;
    min-height: 20px;
    // width: 272px;
    margin-bottom: 6px;
  }
  .add-list {
    margin-inline-end: 10px;
    margin-inline-start: 3px;
    .add-list-new {
      background-color: #ffffff91;
      color: white;
      box-shadow: none;
      border: none;
      border-radius: 4px;
      display: flex;
      width: 272px;
      height: 40px;
      align-items: center;
      padding: 6px 8px;
      font-size: 14px;
      gap: 3px;
      margin-inline-end: 5px;
      &:hover {
        background-color: #ffffff69;
      }
      span.icon {
        font-size: 16px;
      }
    }
  }
  .add-list-container {
    //     transform: translateY(0%);
    // transition: transform 0.7s;
    width: 272px;
    border-radius: 5px;
    padding: 4px 4px;
    background-color: #ebecf0;
    margin-inline-end: 5px;
    input {
      height: 36px;
      width: 264px;
      box-shadow: inset 0 0 0 2px #0079bf;
      margin-bottom: 4px;
    }
    .btn-add {
      display: flex;
      gap: 5px;
      // justify-content: center;
      align-items: center;
      span.grey {
        color: gray;
      }
      .btn {
        margin-block-start: 2px;
        height: 32px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  }

//   @media (max-width: 850px) {
//     // margin-top: 49px;
//    // margin-top: 71px;

// }
}
.opacity-more input {
  color: white;
  box-shadow: none;
  border: none;
  // background-color: #ffffff91;
  background-color: #ebecf0;
}
.task-preview-placeholder {
  background-color: $clr3;
  border-radius: rem(3px);
  margin: 0 rem(4px) rem(8px) rem(1px);
}

.card-ghost {
  transition: transform 0.15s ease;
  transform: rotateZ(8deg);
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
}
