.nav-board{
    display: flex;
    height: 60px;
    justify-content: space-between;
    li{
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 0 12px;
        background-color: #ffffff91;
        
    }
    .left{
        color: white;
        display: flex;
        gap: 5px;
    }
    .right{
        color: white;
        display: flex;
        gap: 5px;
        padding: 0px 12px;
    }
    .avatar-logo{
      background-color: rgba(65, 105, 225, 0);
    
    }

}