.nav-board {
    align-items: center;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    li {
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 0 12px;
        background-color: #ffffff91;
    }
    li:hover{
        background-color: #ffffffa9;
    }
    .left {
        padding-inline-start: 0;
        color: white;
        display: flex;
        gap: 5px;
        .icon-user {
            display: flex;
            justify-content: center;
            // align-items: center;
        }
    }
    .right {
        color: white;
        display: flex;
        gap: 5px;
    }
    li.avatar-logo {
        
        background-color: rgba(65, 105, 225, 0);
    }
    span {
        font-size: 16px;
    }
    .icon {
        display: flex;
        gap: 5px;
    }
    .divider {
        border-left: 1px solid #ffffff3d;
        float: left;
        height: 16px;
        margin: 8px;
    }
}
