.cmp-about {
    .about::before {
        font-family: iconRegular;
        content: '\f007';
    }
    .about {
        margin: 20px 10px;
        span {
            margin-left: 10px;
        }
    }
    .about-name {
        display: flex;
        .avatar {
            margin: 10px;
            object-fit: contain;
            width: 100%;
            height: 100%;
           

        }
        font-weight: 600;
        h3 {
            margin-top: 0.1rem;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
    }
    .icon-description::before {
        font-family: iconSolid;
        content: '\f036';
    }

<<<<<<< HEAD
    header {
        display: flex;
        align-items: center;
        h3 {
            margin: 0;
            min-height: 18px;
            min-width: 40px;
            font-size: rem(16px);
            line-height: 20px;
            font-weight: 600;
            margin-block-start: 1em;
            margin-block-end: 1em;
        }
        .edit-btn {
            margin-left: 8px;
            background-color: #091e420a;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            padding: 6px 12px;
            transition-duration: 85ms;
            transition-property: background-color;
        }
        .edit-btn:hover {
            background-color: $clr8;
        }
    }
    .description-container {
        p {
            cursor: pointer;
            font-size: 14px;
        }
        .description-edit-btn {
            margin-top: 8px;
            .save {
=======
   
        header {
          
            display: flex;
            align-items: center;
            margin-left: 5px;
            h3 {
                margin: 0;
                min-height: 18px;
                min-width: 40px;
                font-size: rem(16px);
                line-height: 20px;
                font-weight: 600;
                margin-block-start: 1em;
                margin-block-end: 1em;
            }
            .edit-btn {
                margin-left: 8px;
                background-color: #091e420a;
                border: none;
>>>>>>> 296ab3307239c4e94e7350fe70cc93951b7e6891
                cursor: pointer;
                float: left;
                margin: 0 4px 0 0;
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                border-radius: 3px;
                line-height: 20px;
                padding: 6px 12px;
                transition-duration: 85ms;
                transition-property: background-color;
            }
            .save:hover {
                background-color: #026aa7;
            }
<<<<<<< HEAD
            .close-btn {
=======
         
        }
        .description-container {
            p {
>>>>>>> 296ab3307239c4e94e7350fe70cc93951b7e6891
                cursor: pointer;
                color: #42526e;
                height: 32px;
                line-height: 32px;
                width: 32px;
                font-size: rem(24px);
                background-color: #0000;
            }
        }
    }
}

<<<<<<< HEAD
.cmp-background {
    ul {
        margin: 0;
        padding: 0;
    }
    .bcg-main {
        .choice-bcg-up {
            display: flex;
            .colors {
                background-image: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.ec32a2ed8dd8198b8ef0.jpg);
                background-size: cover;
            }
        }
        .colors,
        .photos {
=======




    .cmp-background{
        
        ul{
            margin: 0;
            padding: 0;
        }
        .bcg-main{
            .choice-bcg-up{
                display: flex;
                .colors{
                    background-image: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.ec32a2ed8dd8198b8ef0.jpg);
                    background-size: cover;
                }
            }
            .colors ,.photos{
            background-size: cover;
                width: 143px;
                height: 96px;
                border-radius: 8px;
                margin: 0 8px ;
            }
            .custom{
            }
        }
        .cmp-labels{

        }
        .cmp-arcive{

        }
        .cmp-link{
            
        }
        .cmp-activity{

        }
        .plus::before{
            font-family: iconSolid;
            content: "\f067";
            
        }
        .card-color {
            width: 143px;
            height: 96px;
            border-radius: 8px;
            margin: 8px ;
        }
        .card-img {
>>>>>>> 296ab3307239c4e94e7350fe70cc93951b7e6891
            background-size: cover;
            width: 143px;
            height: 96px;
<<<<<<< HEAD
            border-radius: 1rem;
            margin: 0 8px;
=======
            border-radius: 8px;
            margin:  8px ;
>>>>>>> 296ab3307239c4e94e7350fe70cc93951b7e6891
        }
        .custom {
        }
    }
    .cmp-labels {
    }
    .cmp-arcive {
    }
    .cmp-link {
    }
    .cmp-activity {
    }
    .plus::before {
        font-family: iconSolid;
        content: '\f067';
    }
    .card-color {
        width: 44%;
        height: 96px;
        border-radius: 1rem;
        margin: 8px;
    }
    .card-img {
        background-size: cover;
        width: 44%;
        height: 96px;
        border-radius: 1rem;
        margin: 8px;
    }
}
